---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 15;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I'm Febi. An engineer, product designer/manager, and aspiring entrepreneur. I am the
			Co-founder & CTO of Elevarm, one of the fastest-growing AgriTech startup in Indonesia. On this
			website, you'll find some of my thoughts about product, startup, machine learning, software
			engineering, and technology that I play with -- all opinions are my own.
		</p>
		<SocialList />
	</section>
	<div class="grid gap-y-16 sm:grid-cols-[6fr_minmax(0,auto)] sm:gap-x-6">
		<section aria-label="Blog post list" class="mt-16">
			<h2 class="title mb-4 text-xl">Posts</h2>
			<h3 class="subtitle text-m mb-3">Things I wrote recently...</h3>
			<ul class="space-y-4 pr-0 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="grid gap-2 sm:grid-cols-[minmax(0,auto)_1fr] sm:[&_q]:col-start-2">
							<PostPreview post={p} as="h2" withDesc={false} />
						</li>
					))
				}
			</ul>
		</section>
	</div>
</PageLayout>
