---
import TimelineItem from "@/components/TimelineItem.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	title: "About",
	description: "A brief story of everything",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>

		<p>
			After spending my whole life in a small village in Bogor Regency, Indonesia, I decided to
			pursue my dreams: to leave the town, attend college, find a co-founder, then build a (or some)
			tech company(ies). Being a first-generation college graduate--first in my family to attend
			college--I was very lucky to find myself in a very supportive environment: I received a full
			scholarship from the Indonesian government to attend the Bandung Institute of Technology
			(ITB), majoring in Computer Science/Informatics. Something I'm really grateful for.
		</p>
		<p>
			I aspire to become an entrepreneur and make a positive impact with something I help create. In
			high school, I ran a clothing 'business' with my friends, and in college, started my 'career'
			as a freelancer programmer providing solutions for a university, telco company, oil & gas
			company, and SMEs. Basically writing code for most of my life.
		</p>
		<p>
			I am very competitive - that's why I joined many hackathons and competitions: gratefully won
			some, and lost more than I can count--such valuable learnings. All in all, I learned many
			things along the way and met amazing people.
		</p>
		<h1 class="title">What do I do?</h1>
		<p>I am a product builder at heart.</p>
		<p>
			Be it building solutions from well-defined problem statements the likes of in competitions,
			hackathons, and projects all the way to discovering problems and crafting solutions from the
			ground up with lots of uncertainty in startup settings.
		</p>

		<p>Here's a quote that best paints a picture of me:</p>

		<blockquote class="text-xl font-semibold italic text-gray-900 dark:text-white">
			<svg
				aria-hidden="true"
				class="h-10 w-10 text-gray-400 dark:text-gray-600"
				viewBox="0 0 24 27"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
					fill="currentColor"></path></svg
			>
			<p>
				"I stay up all night disassembling the world so that I can put it back together with new
				features."
			</p>
		</blockquote>
		<p>
			My passion for building tech products, and aspiration to create long-lasting, impactful
			businesses have led me to build a startup called Neurafarm in my final year in college. I
			helped build a small team and the product from scratch as CTO, and later on focused on
			strategy, business, innovation, and making sure the company is well-funded, as part of my role
			as the CEO until 2022.
		</p>
		<p>
			My time there was amazing and full of challenges: deploying human-centric digital solutions to
			tens of thousands of smallholder farmers, and building an AI & data-enabled ecosystem to
			improve overall farmers' productivity, while marching many stakeholders to support our
			mission. We've manage to get support (and get funded) from Indonesia Ministry of Research,
			Singapore International Foundation, Global Green Growth Institute, Cisco, and many others. In
			2020, Neurafarm was featured in Temasek Review 2020.
		</p>

		<p>
			Now I continue to work on the same vision and mission at Elevarm to Elevate Farmers, as
			Co-Founder & CTO, where I lead teams of engineers and manage a portfolio of products that
			enable a data-driven agriculture ecosystem.
		</p>
		<p>
			I really enjoy working on complex strategic problems involving software engineering, design,
			and machine learning, especially in high-impact and multidimensional fields like agriculture
			and healthcare.
		</p>

		<p>I love to talk to people about product, technology, and how we can create social impacts.</p>

		<p>
			In my free time, I enjoy staying up to date with the latest advancements in technology,
			immersing myself in astrophysics, and experimenting with new ideas.
		</p>

		<p>
			To reach me, write to febiagil AT gmail.com. You can write to me in English or Bahasa
			Indonesia (preferred, if you know the language).
		</p>
		<!-- <div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
			/>
		</div> -->
		<h1 class="title">Highlights</h1>
		<p>Here is a glimpse of my journey so far:</p>

		<div
			class="mb-4 rounded-lg border border-gray-100 bg-gray-50 p-5 dark:border-gray-700 dark:bg-gray-800"
		>
			<time class="text-xl font-semibold text-gray-900 dark:text-white">2022</time>
			<ol class="relative mt-4 border-l border-gray-200 dark:border-gray-700">
				<TimelineItem
					eventDate="22 February 2022"
					title="Co-Founded Elevarm and became its CTO"
					as="li"
					withDesc
					linkSource="https://elevarm.com/"
				/>
			</ol>
		</div>

		<div
			class="mb-4 rounded-lg border border-gray-100 bg-gray-50 p-5 dark:border-gray-700 dark:bg-gray-800"
		>
			<time class="text-xl font-semibold text-gray-900 dark:text-white">2021</time>
			<ol class="relative mt-4 border-l border-gray-200 dark:border-gray-700">
				<TimelineItem
					eventDate="15 July 2021"
					title="Neurafarm is featured in Temasek Review 2021"
					as="li"
					withDesc
					linkSource="https://tr21.temasekreview.com.sg/"
				/>
			</ol>
		</div>

		<div
			class="mb-4 rounded-lg border border-gray-100 bg-gray-50 p-5 dark:border-gray-700 dark:bg-gray-800"
		>
			<time class="text-xl font-semibold text-gray-900 dark:text-white">2020</time>
			<ol class="relative mt-4 border-l border-gray-200 dark:border-gray-700">
				<TimelineItem
					eventDate="11 March 2020"
					title="Neurafarm is selected as Top 50 at Cisco Global Problem Solver Challenge 2020."
					as="li"
				/>
				<TimelineItem
					eventDate="20 February 2020"
					title="Selected for the YSE (Young Social Entrepreneurs) 2020 Workshop in Singapore. An event held by Singapore International Foundation."
					as="li"
				/>
				<TimelineItem
					eventDate="19 February 2020"
					title="Neurafarm is selected as Top 10 (out of 5200) in Thought For Food Challenge 2019/2020."
					as="li"
				/>
				<TimelineItem
					eventDate="17 January 2020"
					title="Neurafarm joins TINC Program Batch 4 and will be accelerated under Telkomsel Innovation Center."
					as="li"
				/>
				<TimelineItem
					eventDate="15 January 2020"
					title="Neurafarm became Finalist of ASEAN Rice Bowl Startup Awards in Kuala Lumpur, Malaysia."
					as="li"
				/>
				<TimelineItem
					eventDate="13 January 2020"
					title="Neurafarm is selected as Elite 150 Team for the 10th Lee Kuan Yew Global Business Plan Competition."
					as="li"
				/>
			</ol>
		</div>

		<div
			class="mb-4 rounded-lg border border-gray-100 bg-gray-50 p-5 dark:border-gray-700 dark:bg-gray-800"
		>
			<time class="text-xl font-semibold text-gray-900 dark:text-white">2019</time>
			<ol class="relative mt-4 border-l border-gray-200 dark:border-gray-700">
				<TimelineItem
					eventDate="24 December 2019"
					title="To speak/facilitate at CodeNomad by Code For Asia Society Ltd in Bali."
					as="li"
				/>
				<TimelineItem
					eventDate="14 December 2019"
					title="To speak at BukaMeetup x NeurIPS 'Democratizing State-of-the-Art AI' at East CC Auditorium, Bandung Institute of Technology"
					as="li"
				/>
				<TimelineItem
					eventDate="7 December 2019"
					title="Neurafarm became Top 25 of the Nextdev 2019"
					as="li"
				/>
				<TimelineItem
					eventDate="16 October 2019"
					title="Neurafarm wins 3rd Place in Create@ Alibaba Cloud Startup Contest 2019"
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="16 October 2019"
					title="Neurafarm is awarded as the Best AgTech/FoodTech Company in Indonesia by ASEAN Ricebowl Startup Awards."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="16 October 2019"
					title="Neurafarm is graduated from Plug and Play Accelerator Batch 5 Indonesia."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="9 May 2019"
					title="Neurafarm is selected for The Nextdev 2019 and wins Golden Ticket for The Nexdev Summit 2019."
					as="li"
				/>
				<TimelineItem
					eventDate="4 April 2019"
					title="Neuratraffic is shortlisted for Bandung Datathon 2019, an event organized by Bandung City Government in collaboration with the City of Melbourne, Bloomberg Philantrophies Initiative for Global Road Safety (BIGRS), School of Business and Management ITB, The Greater Hub, and Go-Jek."
					as="li"
				/>
				<TimelineItem
					eventDate="28 Mar 2019"
					title="Got selected for the ChangemakerXchange in China on May 24th-28th 2019. ChangemakerXchange is a global collaboration platform for young social innovators to connect and develop cross-border collaborations, co-created by Ashoka and Robert Bosch Stiftung."
					as="li"
				/>
				<TimelineItem
					eventDate="20 Feb 2019"
					title="Neurafarm got selected as Top 10 Indonesia in ALIPAY-NUS Enterprise Social Innovation Challenge."
					as="li"
				/>
				<TimelineItem
					eventDate="1 Feb 2019"
					title="Will represent Neurafarm in Global Social Venture Challenge - Regional Round in Bangkok, Thailand (21-23 February 2019). **Update: ** Came out as Top 11"
					as="li"
				/>
				<TimelineItem
					eventDate="10 Jan 2019"
					title="Appointed as the new Chief Executive Officer of Neurafarm. The previous CEO will serve in COO role."
					as="li"
				/>
			</ol>
		</div>

		<div
			class="mb-4 rounded-lg border border-gray-100 bg-gray-50 p-5 dark:border-gray-700 dark:bg-gray-800"
		>
			<time class="text-xl font-semibold text-gray-900 dark:text-white">2018</time>
			<ol class="relative mt-4 border-l border-gray-200 dark:border-gray-700">
				<TimelineItem
					eventDate="2 October 2018"
					title="Neurafarm wins 2nd place in Startup Istanbul 2018 Competition."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="27 September 2018"
					title="Will represent Neurafarm in the Swiss Innvoation Challenge 2018 in Basel, Switzerland."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="19 September 2018"
					title="Neurafarm joins NVIDIA Inception Program."
					as="li"
				/>
				<TimelineItem
					eventDate="8 September 2018"
					title="Neurafarm got selected as one of the top 100 startups among 93.200 startup applications from 140 countries all over the world for Startup Istanbul 2018 Challenge to be on 19-22 October, in the center of the world, Istanbul."
					as="li"
				/>
				<TimelineItem
					eventDate="28 August 2018"
					title="Got selected as top 15 participants of The Falling Walls Lab Jakarta, an event hosted by the German Academic Exchange Service (DAAD) in cooperation with the Faculty of Administrative Science Universitas Indonesia and is supported by EURAXESS, the Federal Foreign Office of Germany and the Falling Walls Foundation. (Will be presenting Dr. Tania at Universitas Indonesia on 13th September."
					as="li"
				/>
				<TimelineItem
					eventDate="9 August 2019"
					title="Neurafarm wins Swiss Innovation Challenge Asia-Indonesia 2018. An innovation competition held by University of Applied Sciences and Arts Northwestern Switzerland in collaboration with School of Business and Management, Bandung Institute of Technology (ITB)."
					as="li"
				/>
				<TimelineItem
					eventDate="6 August 2018"
					title="Received Ganesha Karya Award. It is an award presented by Bandung Institute of Technology (ITB) to recognize achievement and excellence in innovation."
					as="li"
				/>
				<TimelineItem
					eventDate="31 July 2018"
					title="Canceled my Summer Internship at Microsoft Indonesia."
					as="li"
				/>
				<TimelineItem
					eventDate="7 May 2018"
					title="Got invited to Asia MSP Summit in Taipei, Taiwan (June). Thank you, Microsoft!"
					as="li"
				/>
				<TimelineItem
					eventDate="2 May 2018"
					title="Got selected as a Software Engineer Intern at Microsoft Indonesia."
					as="li"
				/>
				<TimelineItem
					eventDate="16 March 2018"
					title="Taleus proceeded to Microsoft Imagine Cup 2018 Asia-Pacific Finals after got a wild card."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="13 March 2018"
					title="Neurafarm's product - Dr. Tania received the Gold Prize in World Invention and Technology Expo (WINTEX) 2018 in Bandung Insitute of Technology."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="2 March 2018"
					title="Taleus was chosen as the finalist of Microsoft Imagine Cup 2018 Indonesia"
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="20 February 2018"
					title="Taleus was selected as the semi-finalist of Microsoft Imagine Cup 2018 Indonesia."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="17 February 2018"
					title="Neurafarm got awarded as the 3rd Winner of Business Plan Competition in the 7th University of Indonesia Studentpreneurs."
					as="li"
				/>
				<TimelineItem
					eventDate="5 February 2018"
					title="Accepted as Part Time (Machine Learning) Engineer at Prosa.ai."
					as="li"
				/>
			</ol>
		</div>

		<div
			class="mb-4 rounded-lg border border-gray-100 bg-gray-50 p-5 dark:border-gray-700 dark:bg-gray-800"
		>
			<time class="text-xl font-semibold text-gray-900 dark:text-white">2017</time>
			<ol class="relative mt-4 border-l border-gray-200 dark:border-gray-700">
				<TimelineItem
					eventDate="23 November 2017"
					title="Awarded as the 2nd Winner in Indonesia Developer Summit Hackathon."
					as="li"
				/>
				<TimelineItem
					eventDate="19 November 2017"
					title="Awarded as the Best Student (Team) in Facebook Developer Circle: Bandung Hackathon."
					as="li"
				/>
				<TimelineItem
					eventDate="4 November 2017"
					title="Awarded as the 1st Winner of Data Mining Competition in Gemastik 2017. Held by Indonesia Ministry of Research, Technology, and Higher Education."
					as="li"
					withDesc
					linkSource=""
				/>
				<TimelineItem
					eventDate="13 August 2017"
					title="Co-founded Neurafarm and became its Chief Technology Officer."
					as="li"
				/>
				<TimelineItem
					eventDate="16 May 2017"
					title="Accepted as Software Engineer Intern at Kata.ai."
					as="li"
				/>
				<TimelineItem
					eventDate="8 March 2017"
					title="Our LINE Bot, Leptons, chosen as Finalist for Line Developer Challenge Indonesia 2017."
					as="li"
				/>
				<TimelineItem
					eventDate="26 November 2017"
					title="Bees team wins Kurio x UMN Hackathon 2016 with hoaxbuster project."
					as="li"
					withDesc
					linkSource=""
				/>
			</ol>
		</div>
	</div>
</PageLayout>
